In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\KGRCET\\Downloads\\covid_19.csv")

In [4]:
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [5]:
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [7]:
df.tail()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [8]:
df.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

In [11]:
value = 1000
filtered_df = df[df['Deaths'] > value]
print(filtered_df)

      Province/State  Country/Region      Lat      Long        Date  \
5281           Hubei           China  30.9756  112.2707  2020-02-11
5542           Hubei           China  30.9756  112.2707  2020-02-12
5803           Hubei           China  30.9756  112.2707  2020-02-13
6064           Hubei           China  30.9756  112.2707  2020-02-14
6325           Hubei           China  30.9756  112.2707  2020-02-15
...              ...             ...      ...       ...         ...
49011            NaN     Switzerland  46.8182    8.2275  2020-07-27
49018            NaN          Turkey  38.9637   35.2433  2020-07-27
49020            NaN         Ukraine  48.3794   31.1656  2020-07-27
49028            NaN  United Kingdom  55.3781   -3.4360  2020-07-27
49030            NaN              US  40.0000 -100.0000  2020-07-27

       Confirmed  Deaths  Recovered   Active       WHO Region
5281       33366    1068       2639    29659  Western Pacific
5542       34874    1068       2686    31120  Western Pacific
5803       48206    1310       3459    43437  Western Pacific
6064       54406    1457       4774    48175  Western Pacific
6325       56249    1596       5623    49030  Western Pacific
...          ...     ...        ...      ...              ...
49011      34477    1978      30900     1599           Europe
49018     227019    5630     210469    10920           Europe
49020      67096    1636      37202    28258           Europe
49028     300111   45759          0   254352           Europe
49030    4290259  148011    1325804  2816444         Americas

[3433 rows x 10 columns]

In [12]:
df.fillna(value, inplace=True)

In [13]:
summary_stats = df.describe()

In [14]:
print(summary_stats)

                Lat          Long     Confirmed         Deaths     Recovered  \
count  49068.000000  49068.000000  4.906800e+04   49068.000000  4.906800e+04
mean      21.433730     23.528236  1.688490e+04     884.179160  7.915713e+03
std       24.950320     70.442740  1.273002e+05    6313.584411  5.480092e+04
min      -51.796300   -135.000000  0.000000e+00       0.000000  0.000000e+00
25%        7.873054    -15.310100  4.000000e+00       0.000000  0.000000e+00
50%       23.634500     21.745300  1.680000e+02       2.000000  2.900000e+01
75%       41.204380     80.771797  1.518250e+03      30.000000  6.660000e+02
max       71.706900    178.065000  4.290259e+06  148011.000000  1.846641e+06

             Active
count  4.906800e+04
mean   8.085012e+03
std    7.625890e+04
min   -1.400000e+01
25%    0.000000e+00
50%    2.600000e+01
75%    6.060000e+02
max    2.816444e+06

In [16]:
grouped_df = df.groupby('Deaths')['Active'].mean()
print(grouped_df)

Deaths
0         1.593380e+01
1         6.327048e+01
2         9.655510e+01
3         1.032959e+02
4         1.962079e+02
              ...
144430    2.661117e+06
145560    2.705347e+06
146465    2.753091e+06
146935    2.789125e+06
148011    2.816444e+06
Name: Active, Length: 3640, dtype: float64

In [17]:
sorted_df = df.sort_values(by='Deaths', ascending=False)
print(sorted_df.head())

      Province/State Country/Region   Lat   Long        Date  Confirmed  \
49030           1000             US  40.0 -100.0  2020-07-27    4290259
48769           1000             US  40.0 -100.0  2020-07-26    4233923
48508           1000             US  40.0 -100.0  2020-07-25    4178970
48247           1000             US  40.0 -100.0  2020-07-24    4112531
47986           1000             US  40.0 -100.0  2020-07-23    4038816

       Deaths  Recovered   Active WHO Region
49030  148011    1325804  2816444   Americas
48769  146935    1297863  2789125   Americas
48508  146465    1279414  2753091   Americas
48247  145560    1261624  2705347   Americas
47986  144430    1233269  2661117   Americas